#contact-form .form-control {
    color: #222;
}

#contact-form input:focus,
#contact-form textarea:focus,
#id_email:focus {
    background-color: #e6e6fa;
}

.btn-deep {
    background: #000032;
    color: #f8f8ff;
}

.btn-floating {
    width: 57px;
    height: 53px;
    font-size: 23px !important;
    text-align: center;
}
