#contact-form .form-control {
    color: #222;
}

#contact-form input:focus,
#contact-form textarea:focus {
    background-color: #e6e6fa;
}

.btn-deep {
    background: #000032;
    color: #f8f8ff;
}

.hr-rev-md {
    height: 0.1px;
    background-color: #f8f8ff;
    width: 66%;
}

.hr-rev-sm {
    height: 0.1px;
    background-color: #f8f8ff;
    width: 33%;
}
