/* Google Fonts CSS rules reminder - font-family: 'Amatic SC', cursive; font-family: 'Ubuntu', sans-serif; */

html {
    height: 100%;
}

body {
    background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #f8f8ff;
    font-family: 'Ubuntu', sans-serif;
}

/* from Bulma - controls FontAwesome icon behaviour */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    font-size: 2.5rem;
    color: #f8f8ff
}

.banner-font {
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    font-size: 9rem;
}

.main-logo-link {
    width: fit-content;
}

.link-plain {
    text-decoration: none;
    color: #f8f8ff;
}

.link-plain:hover {
    text-decoration: none;
    color: #dc143c;
}

.shop-now-button {
    background: #dc143c;
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    color: #f8f8ff;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: #f8f8ff;
}

.btn-ghost {
    background: #f8f8ff;
    color: #222;
}

.btn-accent {
    background: #dc143c;
    color: #f8f8ff;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: #f8f8ff;
}

.btn-ghost:hover,
.btn-ghost:active,
.btn-ghost:focus {
    background: green;
    color: blue;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-accent:hover,
.btn-accent:active,
.btn-accent:focus {
    background: #ff4500;
    color: #fff;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1.5px solid black !important;
}

.text-ghost {
    color: #f8f8ff !important;
}

.border-ghost {
    border: 1.5px solid #f8f8ff !important;
}

.text-accent {
    color: #dc143c !important;
}

.border-accent {
    border: 1.5px solid #dc143c !important;
}

.bg-accent {
    background: #dc143c;
}

.bg-deep {
    background: #000032;
}

.hr-rev {
    height: 0.1px;
    background-color: #f8f8ff;
}

.dropdown-item:hover {
    background-color: #dc143c;
}

/* Wiggle - from: https://codepen.io/Digitango/pen/YQQBXR */

.wiggle a:hover {
    animation: wiggle 75ms infinite;
    animation-timing-function: linear;
}

@keyframes wiggle {
    0% {
        transform: translate(2px, 0);
    }

    50% {
        transform: translate(-2px, 0);
    }

    100% {
        transform: translate(2px, 0);
    }
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(0, 0, 25, 0.7);
	z-index: -1;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* Fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

/* Adjust index banner size on medium and below */
@media (max-width: 992px) {
    .banner-font {
        /* text-transform: uppercase;
        font-family: 'Amatic SC', cursive; */
        font-size: 7rem;
    }

    .shop-now-button {
        font-size: 1.75rem;
    }
}

@media (max-width: 600px) {
    .banner-font {
        font-size: 6rem;
    }
}

/* And slightly larger on xl screens..! */
@media (min-width: 1920px) {
    .banner-font {
        font-size: 12.5rem;
    }
}