/* Google Fonts CSS rules reminder - font-family: 'Amatic SC', cursive; font-family: 'Ubuntu', sans-serif; */

html {
    height: 100%;
}

body {
    background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #f8f8ff;
    font-family: 'Ubuntu', sans-serif;
}

/* from Bulma - controls FontAwesome icon behaviour */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    font-size: 2.5rem;
    color: #f8f8ff
}

.logo-font-sm {
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
    color: #f8f8ff
}

.banner-font {
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    font-size: 9rem;
}

.main-logo-link {
    width: fit-content;
}

.link-plain {
    text-decoration: none;
    color: #f8f8ff;
}

.link-plain:hover {
    text-decoration: none;
    color: #ff4500;
}

.shop-now-button {
    background: #dc143c;
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    color: #f8f8ff;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: #f8f8ff;
}

.btn-ghost {
    background: #f8f8ff;
    color: #222;
}

.btn-outline-ghost {
    background: #f8f8ff;
    color: #dc143c !important;  /* use important to override link colours for <a> elements */
    border: 1.5px solid #dc143c;
}

.btn-outline-toast {
    background: #f8f8ff;
    color: #dc143c !important;  /* use important to override link colours for <a> elements */
    border: 1.5px solid #f8f8ff;
}

.btn-outline-toast:hover,
.btn-outline-toast:active,
.btn-outline-toast:focus,
.btn-outline-ghost:hover,
.btn-outline-ghost:active,
.btn-outline-ghost:focus {
    background: #ff4500;
    color: #f8f8ff !important;
    border: 1.5px solid #ff4500;
}

.btn-accent {
    background: #dc143c;
    color: #f8f8ff;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: #f8f8ff;
}

.btn-ghost:hover,
.btn-ghost:active,
.btn-ghost:focus {
    background: #000032;
    color: #f8f8ff;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-accent:hover,
.btn-accent:active,
.btn-accent:focus {
    background: #ff4500;
    color: #f8f8ff;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1.5px solid black !important;
}

.text-ghost {
    color: #f8f8ff !important;
}

.border-ghost {
    border: 1.5px solid #f8f8ff !important;
}

.text-accent {
    color: #dc143c !important;
}

.border-accent {
    border: 1.5px solid #dc143c !important;
}

.bg-accent {
    background: #dc143c;
}

.bg-deep {
    background: #000032;
}

.hr-rev {
    height: 0.1px;
    background-color: #f8f8ff;
}

.dropdown-item:hover {
    background-color: #ff4500;
}

/* Wiggle - from: https://codepen.io/Digitango/pen/YQQBXR */

.wiggle a:hover {
    animation: wiggle 75ms infinite;
    animation-timing-function: linear;
}

@keyframes wiggle {
    0% {
        transform: translate(2px, 0);
    }

    50% {
        transform: translate(-2px, 0);
    }

    100% {
        transform: translate(2px, 0);
    }
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(0, 0, 25, 0.75);
	z-index: -1;
}

.badge-white {
    background-color: #dc143c;
}

a.category-badge > span.badge:hover {
    background: #f8f8ff !important;
    color: #dc143c !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 3px;
}

.toast-header {
    border-radius: 0;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #f8f8ff; /* text-secondary */
}

.allauth-form-inner-content input {
    border-width: 1.5px;
    border-color: #dc143c;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    /* font-weight: 400; */
    color: #f8f8ff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #dc143c;
    border: 1.5px solid #dc143c;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #ff4500;
    border-color: #ff4500;
}

.allauth-form-inner-content a {
	color: #dc143c; /* text-info */
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* Fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

/* Adjust index banner size on medium and below */
    .banner-font {
        /* text-transform: uppercase;
        font-family: 'Amatic SC', cursive; */
        font-size: 7rem;
    }

    .shop-now-button {
        font-size: 1.75rem;
    }
}

@media (max-width: 600px) {
    .banner-font {
        font-size: 6rem;
    }
}

/* And slightly larger on xl screens..! */
@media (min-width: 1920px) {
    .banner-font {
        font-size: 12.5rem;
    }
}