html {
    height: 100%;
}

body {
    background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #f8f8ff;
    font-family: 'Open Sans';
}

/* from Bulma - controls FontAwesome icon behaviour */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    font-family: 'Amatic SC';
    color: #ff4500
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #ff4500;
    color: #f8f8ff;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-ghost {
    background: #f8f8ff;
    color: #ff4500;
}

.btn-orangered {
    background: #ff4500;
    color: #f8f8ff;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.btn-ghost:hover,
.btn-ghost:active,
.btn-ghost:focus {
    background: green;
    color: blue;
}

.btn-orangered:hover,
.btn-orangered:active,
.btn-orangered:focus {
    background: purple;
    color: yellow;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.text-ghost {
    color: #f8f8ff !important;
}

.border-ghost {
    border: 1px solid #f8f8ff !important;
}

.text-orangered {
    color: #ff4500 !important;
}

.border-orangered {
    border: 1px solid #ff4500 !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}