<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="font-weight-bold nav-link text-ghost text-uppercase mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-ghost text-uppercase mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All <strong>ARTSTUFF</strong>
            </a>
            <div class="dropdown-menu border-0 bg-deep" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item text-ghost">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item text-ghost ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item text-ghost ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item text-ghost"><em>All ARTSTUFF</em></a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-ghost text-uppercase mr-5" href="#" id="artwear-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Artwear
            </a>
            <div class="dropdown-menu border-0 bg-deep" aria-labelledby="artwear-link">
                <a href="{% url 'products' %}?category=back_print_hoodies" class="dropdown-item text-ghost">Back Print Hoodies</a>
                <a href="{% url 'products' %}?category=custom_caps" class="dropdown-item text-ghost">Custom Caps</a>
                <a href="{% url 'products' %}?category=printed_shirts" class="dropdown-item text-ghost">Printed Shirts</a>
                <a href="{% url 'products' %}?category=back_print_hoodies,custom_caps,printed_shirts" class="dropdown-item text-ghost"><em>All ARTWEAR</em></a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-ghost text-uppercase mr-5" href="#" id="artwork-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Artwork
            </a>
            <div class="dropdown-menu border-0 bg-deep" aria-labelledby="artwork-link">
                <a href="{% url 'products' %}?category=ltd_ed_prints" class="dropdown-item text-ghost">Ltd. Ed. Prints</a>
                <a href="{% url 'products' %}?category=canvas_art" class="dropdown-item text-ghost">Canvas Art</a>
                <a href="{% url 'products' %}?category=ltd_ed_prints,canvas_art" class="dropdown-item text-ghost"><em>All ARTWORK</em></a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-ghost text-uppercase" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Artstuff Specials
            </a>
            <div class="dropdown-menu border-0 bg-deep" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_artstuff" class="dropdown-item text-ghost">New ARTSTUFF</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item text-ghost">Deal Stuff</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item text-ghost">Clearance Stuff</a>
                <a href="{% url 'products' %}?category=new_artstuff,deals,clearance" class="dropdown-item text-ghost"><em>All SPECIALS</em></a>
            </div>
        </li>
    </ul>
</div>