{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'feedback/css/feedback.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">

    <!-- Main header add feedback -->
    <div class="row">
        <div class="col">
            <hr class="hr-rev">
            <h2 class="logo-font text-center mb-4"><strong>My Feedback</strong></h2>
            <hr class="hr-rev">
        </div>
    </div>

    <!-- Add feedback product details -->
    <div class="row">
        <div class="col-12 col-lg-6">
            <p class="text-center">Leave Feedback</p>
            <p class="text-accent text-center">You are currently leaving feedback for:</p>
            <div class="my-1">
                {% if product.image %}
                <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                {% endif %}
            </div>
            <div>
                <p class="text-center text-center my-3"><strong>{{ product.name }}</strong></p>
            </div>

            <!-- Add feedback form -->
            <form action="{% url 'add_feedback' product.id %}" id="feedback-form" class="form mb-2" method="POST"
            enctype="multipart/form-data">
            {% csrf_token %}
                {{ form|crispy }}
                <div class="submit-button text-right mt-2 mb-3">
                    <a href="{% url 'product_detail' product.id %}" class="btn btn-outline-ghost rounded-0">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="font-weight-bold">Cancel</span>
                    </a>
                    <button id="submit-button" class="btn btn-accent rounded-0">
                        <span class="font-weight-bold">Add Feedback</span>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-12 col-lg-6">

            <!-- User feedback history -->
            <p class="text-center">Your Feedback History</p>
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless text-ghost">
                    <thead>
                        {% if feedbacks.count == 0 %}
                        <p class="text-center">You haven't left any feedback yet.</p>
                        {% else %}
                        <tr>
                            <th>Product (click to edit)</th>
                            <th>Title</th>
                            <th>Rating</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for feedback in feedbacks %}
                        <tr>
                            <td>
                                <small>
                                    <a href="{% url 'edit_feedback' feedback.id %}" title="" class="link-plain">
                                        {{ feedback.product }}
                                    </a>
                                </small>
                            </td>
                            <td><small>{{ feedback.title }}</small></td>
                            <td><small>{{ feedback.user_rating }}</small></td>
                            <td><small>{{ feedback.created_on }}</small></td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
