{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<!-- <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}"> -->
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr class="hr-rev">
            <h2 class="logo-font text-center mb-4"><strong>My Feedback</strong></h2>
            <hr class="hr-rev">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <p class="text-center">Leave Feedback</p>
            <p>Your comments, reviews and suggestions are always appreciated.<br>
                View the details of any product, click the <em>Leave Feedback</em> button and tell us what you think!</p>
            <p>To talk to us about commissions, projects and collaborations, please use the 
                <a href="{% url 'contact' %}" class="link-accent">Contact</a> page.</p>
            <div class="my-5 wiggle">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3"><strong>Shop Artstuff</strong></a>
                </h4>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <p class="text-center">Your Other Feedback</p>
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless text-ghost">
                    <thead>
                        <tr>
                            <th>Product (click to edit)</th>
                            <th>Date</th>
                            <th>Title</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for feedback in feedbacks %}
                        <tr>
                            <td>
                                <small>
                                    <a href="" title="" class="link-plain">
                                        {{ feedback.product }}
                                    </a>
                                </small>
                            </td>
                            <td><small>{{ feedback.created_on }}</small></td>
                            <td><small>{{ feedback.title }}</small></td>
                            <td><small>{{ feedback.user_rating }}</small></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- 
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %} -->