{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">

    <!-- Main header contact -->
    <div class="row">
        <div class="col">
            <hr class="hr-rev">
            <h2 class="logo-font mb-4 text-center"><strong>Connect</strong></h2>
            <hr class="hr-rev">
        </div>
    </div>

    <div class="row">
        <!-- Contact form & buttons -->
        <div class="col-12 col-lg-6 text-center">
            <p class="body-font-bold">Your message has been submitted successfully</p>
            <p class="text-left">Thank you for your enquiry, we usually respond within 48 hours.</p>
            <p class="text-left">We will initially contact you to further discuss your idea and agree on a finished  
                project outcome. Shortly after you will receive a projected timescale and cost from us, including any 
                concept sketches as appropriate.</p>
            <p class="text-left">Everything is free and no-obligation up until this point, so you 
                don't need to think about paying for anything until you're sure you want to proceed.</p>
            <div class="my-5 wiggle">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                        <strong>Shop Artstuff</strong>
                    </a>
                </h4>
            </div>
        </div>

        <!-- Newsletter form & buttons -->
        <div class="col-12 col-lg-6 text-center">
            <p class="body-font-bold">Newsletter</p>
            <p class="text-left">Subscribe to our newsletter and stay up-to-date with the
                latest <strong>ARTSTUFF</strong> news, new releases, offers and deals.</p>
            <form action="{% url 'newsletter' %}" method="POST" id="newsletter-form" class="form mt-1 mb-2"
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ newsletter|crispy }}
                <button class="btn btn-accent rounded-0 mb-2 link-plain">Subscribe</button>
            </form>
            <hr class="hr-rev">
            <p class="body-font-bold mt-4">ARTSTUFF Links</p>
            <div class="table-responsive">
                <p class="mt-2">Social Medias</p>
                <table class="table table-sm table-borderless text-ghost">
                    <thead>
                        <tr>
                            <th>
                                <a href="https://www.facebook.com/" target="_blank" rel="noopener" title="Facebook"
                                    class="btn btn-ghost btn-lg btn-floating link-plain rounded-0">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </th>
                            <th>
                                <a href="https://www.instagram.com/" target="_blank" rel="noopener" title="Instagram"
                                    class="btn btn-ghost btn-lg btn-floating link-plain rounded-0">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </th>
                            <th>
                                <a href="https://www.tiktok.com/" target="_blank" rel="noopener" title="TikTok"
                                    class="btn btn-ghost btn-lg btn-floating link-plain rounded-0">
                                    <i class="fab fa-tiktok"></i>
                                </a>
                            </th>
                            <th>
                                <a href="https://www.youtube.com/" target="_blank" rel="noopener" title="YouTube"
                                    class="btn btn-ghost btn-lg btn-floating link-plain rounded-0">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><small>Facebook</small></td>
                            <td><small>Instagram</small></td>
                            <td><small>TikTok</small></td>
                            <td><small>YouTube</small></td>
                        </tr>
                    </tbody>
                </table>
                <hr class="hr-rev-sm">
                <p class="mt-2">Other Platforms</p>
                <table class="table table-sm table-borderless text-ghost">
                    <thead>
                        <tr>
                            <th>
                                <a href="https://www.behance.com/" target="_blank" rel="noopener"  title="Behance Profile"
                                    class="btn btn-ghost btn-lg btn-floating link-plain rounded-0">
                                    <i class="fab fa-behance"></i>
                                </a>
                            </th>
                            <th>
                                <a href="https://www.dribbble.com/" target="_blank" rel="noopener"  title="Dribbble Profile"
                                    class="btn btn-ghost btn-lg btn-floating link-plain rounded-0">
                                    <i class="fab fa-dribbble"></i>
                                </a>
                            </th>
                            <th>
                                <a href="https://www.etsy.com/" target="_blank" rel="noopener"  title="Etsy Store"
                                    class="btn btn-ghost btn-lg btn-floating link-plain rounded-0">
                                    <i class="fab fa-etsy"></i>
                                </a>
                            </th>
                            <th>
                                <a href="https://www.shopify.com/" target="_blank" rel="noopener"  title="Shopify Store"
                                    class="btn btn-ghost btn-lg btn-floating link-plain rounded-0">
                                    <i class="fab fa-shopify"></i>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><small>Behance</small></td>
                            <td><small>Dribbble</small></td>
                            <td><small>Etsy</small></td>
                            <td><small>Shopify</small></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr class="hr-rev">
            <p class="body-font-bold mt-4">Businesses We Are Proud To Work With</p>
            <a href="https://www.gildan.com/" class="text-center link-plain mt-2" name="Gildan" rel="external">Gildan Apparel</a>
            <p class="text-left mt-1 bus-text">All <strong>ARTSTUFF ArtWear</strong> designs are printed on to quality shirts 
                and hoodies from <a href="https://www.gildan.com/" class="link-plain" name="Gildan" rel="external">
                <strong>Gildan</strong></a>, one of the world's leading manufacturers of apparel.
            </p>
            <a href="https://www.finerworks.com/" class="text-center link-plain mt-2" name="FinerWorks" rel="external">FinerWorks</a>
            <p class="text-left mt-1 bus-text">All <strong>ARTSTUFF ArtWork</strong> designs are printed using top quality inks, 
                paper and canvas from <a href="https://www.finerworks.com/" class="link-plain" name="FinerWorks" rel="external">
                <strong>FinerWorks</strong></a>, a major operative in the fine art industry.
            </p>
        </div>
    </div>

    <!-- Privacy policy link -->
    <div class="row">
        <div class="col text-center mb-3">
            <a href="https://www.privacypolicygenerator.info/live.php?token=6glncvgm41UWXrmWfTnwBwX7RsP1QmiD"
                class="link-plain" target="_blank" rel="noopener"><small>Privacy Policy</small></a>
        </div>
    </div>
</div>
{% endblock %}
